---
import MyLayout from '../layouts/JaxNodeLayout.astro';
import Variables from '../components/Variables.astro';
---
<MyLayout>
	<h1 class="text-6xl font-bold">JaxNode test site</h1>
	<Variables
</MyLayout>